*.csv
*.json
diet/archive
diet/archive.zip

data
static

diet/*.csv
diet/*.json

calorie_model.joblib
calorie_scaler.joblib



dietNutri/*.csv
dietNutri/*.json
dietNutri

gym/*.csv
gym/*.json

sleep/*.csv
sleep/*.json

*.pkl


*.py
*.ipynb